# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.idea
devoxxuk2018-dl-workshop.iml
.vagrant
ex0-setup/build/tmp/
hosts

# Don't want offline-repository to get checked into git. We want it only to allow us to create zip files on USB sticks with both code and dependencies
/offline-repository
